<%- include('../layout') %>
<h2>Edit Book</h2>
<form action="/books/<%= book._id %>?_method=PUT" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="<%= book.title %>" required>
  <label for="author">Author:</label>
  <input type="text" name="author" id="author" value="<%= book.author %>" required>
  <label for="read">Read:</label>
  <input type="checkbox" name="read" id="read" <%= book.read ? 'checked' : '' %>>
  <label for="liked">Liked:</label>
  <input type="checkbox" name="liked" id="liked" <%= book.liked ? 'checked' : '' %>>
  <button type="submit">Save Changes</button>
</form>
